@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
  background-color: #0e0e15;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  background-color: #0e0e15;
  width: 100%;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9098039216);
  cursor: pointer;
}
a:hover {
  color: #ff0000;
}

h1, h2 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.9098039216);
}

li {
  list-style: none;
}

p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9098039216);
}

.bg-oscuro {
  background-color: #0e0e15;
}

.bg-claro {
  background-color: rgba(255, 255, 255, 0.9098039216);
}

.claro {
  color: rgba(255, 255, 255, 0.9098039216);
}

.padding {
  padding: 2rem;
}

.boton {
  background-color: var(--oscuro);
  border: solid 1px var(--claro);
  color: var(--claro);
  padding: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
.boton:hover {
  box-shadow: rgba(255, 0, 0, 0.5) 0px 5px 15px;
  color: var(--red);
  border: solid 1px var(--red);
}

.titulo-pag {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 600;
}
@media (width < 600px) {
  .titulo-pag {
    padding: 1rem;
    font-size: 2.8rem;
  }
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

.navbar {
  background-color: #21212a;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
}
.navbar .nav-link {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9098039216);
}
.navbar .nav-link:hover {
  color: #ff0000;
}
.navbar .nav-link:focus {
  color: #ff0000;
}
.navbar .navbar-collapse {
  justify-content: end;
}
.navbar .navbar-brand img {
  height: 6rem;
}
.navbar .container-fluid button {
  color: #ff0000;
}

footer .iconos-redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
footer .iconos-redes svg {
  color: rgba(255, 255, 255, 0.9098039216);
  height: 3.5rem;
  margin-right: 2rem;
}
footer .iconos-redes svg:hover {
  color: #ff0000;
  transition: 0.5s;
}

.prox-premio {
  padding: 3rem;
}
.prox-premio h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 600;
}

.ult-premio h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 600;
}
.ult-premio .img-u-premio {
  width: 75%;
}
.ult-premio .tabla {
  margin: 3rem 0;
  width: 75%;
}
.ult-premio .tabla table {
  width: 100%;
  color: rgba(255, 255, 255, 0.9098039216);
  font-size: 2rem;
}
.ult-premio .tabla table tr {
  text-align: center;
  background-color: #21212a;
  border: 1px solid #ff0000;
}
.ult-premio .tabla table tr td {
  border: 1px solid #ff0000;
}

.video-resumen iframe {
  width: 80rem;
  height: 45.5rem;
  padding-top: 1.5rem;
}

.figure-caption {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9098039216);
}

.streaming {
  padding: 5rem;
}
.streaming h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 600;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.redes .star-p {
  height: 15rem;
}

/*# sourceMappingURL=main.css.map */
