@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap");
@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
  background-color: #0e0e15;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "pistera";
  font-size: 1.6rem;
  line-height: 2;
  background-color: #0e0e15;
  width: 100%;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9098039216);
  cursor: pointer;
}
a:hover {
  color: #ff0000;
}

h1, h2 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.9098039216);
}

li {
  list-style: none;
}

p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9098039216);
}

.bg-oscuro {
  background-color: #0e0e15;
}

.bg-claro {
  background-color: rgba(255, 255, 255, 0.9098039216);
}

.claro {
  color: rgba(255, 255, 255, 0.9098039216);
}

.padding {
  padding: 2rem;
}

.boton {
  font-family: "pistera";
  background-color: #0e0e15;
  border: solid 1px rgba(255, 255, 255, 0.9098039216);
  color: rgba(255, 255, 255, 0.9098039216);
  padding: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
.boton:hover {
  box-shadow: rgba(255, 0, 0, 0.5) 0px 5px 15px;
  color: #ff0000;
  border: solid 1px #ff0000;
  transition: 0.5s;
}

.titulo-pag {
  font-family: "pistera";
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 3rem;
}
@media (width < 600px) {
  .titulo-pag {
    padding: 1rem;
    font-size: 2.8rem;
  }
}
@media (width < 480px) {
  .titulo-pag {
    font-size: 2.2rem;
  }
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  gap: 3rem;
}

.grid-pistas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  gap: 3rem;
}

@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
.navbar {
  background-color: #21212a;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
}
.navbar .nav-link {
  font-family: "pistera";
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9098039216);
}
.navbar .nav-link:hover {
  color: #ff0000;
}
.navbar .nav-link:focus {
  color: #ff0000;
}
.navbar .navbar-collapse {
  justify-content: end;
}
.navbar .navbar-brand img {
  height: 6rem;
}
.navbar .container-fluid button {
  color: #ff0000;
}

footer .iconos-redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
footer .iconos-redes svg {
  color: rgba(255, 255, 255, 0.9098039216);
  height: 3.5rem;
  margin-right: 2rem;
}
footer .iconos-redes svg:hover {
  color: #ff0000;
  transition: 0.5s;
}
@media (width < 600px) {
  footer .iconos-redes svg {
    height: 2rem;
    margin-right: 1rem;
  }
}

@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
.prox-premio {
  padding: 3rem;
}
.prox-premio h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 600;
}

.ult-premio h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 600;
}
.ult-premio .img-u-premio {
  width: 75%;
}
@media (width < 600px) {
  .ult-premio .img-u-premio {
    width: 30rem;
  }
}
.ult-premio .tabla {
  margin: 3rem 0;
  width: 75%;
}
.ult-premio .tabla table {
  width: 100%;
  color: rgba(255, 255, 255, 0.9098039216);
  font-size: 2rem;
}
.ult-premio .tabla table tr {
  text-align: center;
  background-color: #21212a;
  border: 1px solid #ff0000;
}
.ult-premio .tabla table tr td {
  border: 1px solid #ff0000;
}
@media (width < 480px) {
  .ult-premio .tabla table {
    width: 30rem;
    font-size: 1.6rem;
  }
}
@media (width < 480px) {
  .ult-premio .tabla {
    width: 100%;
  }
}

.video-resumen iframe {
  width: 80rem;
  height: 45.5rem;
  padding-top: 1.5rem;
}
@media (width < 600px) {
  .video-resumen iframe {
    width: 45rem;
    height: 20.5rem;
    padding-top: 1rem;
  }
}
@media (width < 480px) {
  .video-resumen iframe {
    width: 31rem;
    height: 18rem;
    padding-top: 1rem;
  }
}

.figure-caption {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9098039216);
}

.streaming {
  padding: 5rem;
}
.streaming h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 600;
}
@media (width < 600px) {
  .streaming h2 {
    font-size: 2rem;
  }
}

.redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.redes .star-p {
  height: 15rem;
}
@media (width < 820px) {
  .redes .star-p {
    height: 10rem;
  }
}
@media (width < 480px) {
  .redes .star-p {
    height: 9rem;
    margin: 2rem;
  }
}
@media (width < 820px) {
  .redes .f1tv {
    height: 4rem;
    width: 24rem;
  }
}
@media (width < 480px) {
  .redes .f1tv {
    height: 3rem;
    width: 20rem;
    margin: 2rem;
  }
}

@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
.card-galery {
  background-color: #0e0e15;
  padding: 3rem;
}
.card-galery h1 {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 700;
}

.card-escuderia {
  border-radius: 1rem;
  background-color: #0e0e15;
  border: 1px solid #ff0000;
  margin: 0 auto;
  width: 25rem;
  height: 25rem;
}
.card-escuderia .img-escuderia {
  height: 13.5rem;
  object-fit: contain;
  width: 100%;
}

.card-body {
  padding: 1rem;
  background-color: #21212a;
  color: rgba(255, 255, 255, 0.9098039216);
  align-items: end;
  justify-content: end;
}
.card-body .card-title {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-family: "pistera";
}
.card-body .card-text {
  font-size: 1.5rem;
}

.card-img-top {
  background-color: #0e0e15;
  padding: 1rem;
}

@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
.form {
  font-family: "pistera";
  width: 80rem;
  justify-content: center;
  margin: 3rem auto;
  border: solid 1px #ff0000;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(255, 0, 0, 0.5) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background-color: #21212a;
}
.form h2 {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.9098039216);
  text-transform: uppercase;
  font-weight: 600;
}
@media (width < 480px) {
  .form h2 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9098039216);
    text-transform: uppercase;
    font-weight: 500;
  }
}
.form .form-label {
  color: rgba(255, 255, 255, 0.9098039216);
  font-size: 2rem;
}
@media (width < 480px) {
  .form .form-label {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9098039216);
    text-transform: uppercase;
    font-weight: 500;
  }
}
.form .form-control {
  font-size: 1.5rem;
  background-color: #21212a;
  color: rgba(255, 255, 255, 0.9098039216);
}
.form .form-control:focus {
  background-color: #21212a;
  color: rgba(255, 255, 255, 0.9098039216);
}
.form .botonera {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.form .botonera .enviar {
  margin: 2rem;
}
@media (width < 820px) {
  .form {
    width: 55rem;
  }
}
@media (width < 600px) {
  .form {
    width: 30rem;
  }
}

@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
@font-face {
  font-family: "pistera";
  src: url(../css/fonts/Formula1-Regular.otf);
}
.img-header img {
  width: 100%;
  height: 50rem;
  object-fit: contain;
}
@media (width < 980px) {
  .img-header img {
    width: 100%;
    object-fit: cover;
  }
}
@media (width < 600px) {
  .img-header img {
    height: 50rem;
    object-fit: cover;
  }
}
.img-header .desc-header {
  font-size: 1.8rem;
  padding: 1rem;
  margin-bottom: 4rem;
  font-family: "pistera";
}
@media (width < 600px) {
  .img-header .img-pilotos {
    display: none;
  }
}

.img-pista {
  height: 60rem;
  object-fit: contain;
  width: 100%;
}
@media (width < 820px) {
  .img-pista {
    height: 35rem;
  }
}
@media (width < 480px) {
  .img-pista {
    height: 20rem;
  }
}

.bio {
  font-family: "pistera";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". texto texto" "aside texto texto" ". texto texto" "enlace enlace enlace";
}
.bio .bio-enlace {
  grid-area: enlace;
  font-size: 3rem;
  padding: 4rem;
}
.bio .bio-enlace .a-mas {
  color: #ff0000;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(225deg, #15151f, #12121a);
  box-shadow: -15px 15px 30px #0e0e14, 15px -15px 30px #1a1a26;
  display: block;
}
.bio .bio-enlace .a-mas:hover {
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.9098039216);
  box-shadow: -15px 5px 30px #ff0000, 10px -5px 30px #a90000;
}
@media (width < 820px) {
  .bio .bio-enlace .a-mas {
    font-size: 2rem;
  }
}
@media (width < 480px) {
  .bio .bio-enlace .a-mas {
    font-size: 1.5rem;
  }
}
.bio .aside {
  grid-area: aside;
  border-radius: 1rem;
  background: #0e0e15;
  box-shadow: -15px 15px 30px #0e0e14, 15px -15px 30px #1a1a26;
  margin: 2rem;
  padding: 2rem;
}
.bio .aside table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.4rem;
  width: 100%;
}
@media (width < 600px) {
  .bio .aside {
    width: 30rem;
    margin: 0 auto;
  }
}
@media (width < 600px) {
  .bio .aside img {
    height: 40rem;
  }
}
.bio .aside .img-aside {
  height: 40rem;
}
@media (width < 600px) {
  .bio .aside .img-aside {
    height: 20rem;
  }
}
.bio .aside .img-escuderia {
  height: 20rem;
}
@media (width < 600px) {
  .bio .aside .img-escuderia {
    height: 12rem;
  }
}
.bio .aside .img-alfa {
  width: 50rem;
}
@media (width < 600px) {
  .bio .aside .img-alfa {
    width: 22rem;
  }
}
.bio .aside .aside-title {
  font-size: 2rem;
  color: #ff0000;
  text-transform: uppercase;
  font-weight: 500;
}
.bio .bio-titulo {
  font-size: 3rem;
  color: #ff0000;
  text-transform: uppercase;
  font-weight: 700;
}
@media (width < 600px) {
  .bio .bio-titulo {
    font-size: 2rem;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 700;
  }
}
@media (width < 480px) {
  .bio .bio-titulo {
    display: none;
  }
}
.bio .bio-subtitulo {
  font-size: 1.8rem;
  color: #ff0000;
  text-transform: uppercase;
  font-weight: 400;
}
@media (width < 600px) {
  .bio .bio-subtitulo {
    font-size: 1.8rem;
    color: #ff0000;
    text-transform: uppercase;
    font-weight: 400;
  }
}
.bio .bio-texto {
  grid-area: texto;
  font-size: 1.8rem;
  padding: 1rem;
}
.bio .bio-texto li {
  color: rgba(255, 255, 255, 0.9098039216);
}
.bio .aside-chico {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background: #0e0e15;
  box-shadow: -1.5rem 1.5rem 3rem #0e0e14, 15px -15px 30px #1a1a26;
  padding: 2rem;
  margin: 0 auto;
  width: fit-content;
}
.bio .aside-chico table {
  width: fit-content;
  font-size: 2rem;
}
@media (width < 980px) {
  .bio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "aside" "texto" "enlace";
  }
}

.desc-header {
  font-size: 1.8rem;
  padding: 1rem;
  margin-bottom: 4rem;
  font-family: "pistera";
}

/*# sourceMappingURL=main.css.map */
