
@import "_vars";
@import "_mixins";

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
    background-color: $oscuro;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: $fuenteGeneral;
    font-size: 1.6rem;
    line-height: 2;
    background-color: $oscuro;
    width: 100%;
}
a{
    text-decoration: none;
    color: $claro;
    cursor: pointer;
    &:hover{
        color: $red;
    }
}
h1,h2{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color:$claro;
}
li {
    list-style: none;
}
p{
    font-size: 2rem;
    color: $claro;
}
.bg-oscuro{
    background-color: $oscuro;
}
.bg-claro{
    background-color: $claro;
}
.claro{
    color: $claro;
}
.padding{
    padding: 2rem;
}
.boton{
    background-color: $oscuro;
    border:solid 1px $claro;
    color: $claro;
    padding: .5rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    &:hover{
        box-shadow: rgba(255, 0, 0, 0.5) 0px 5px 15px;
        color: $red;
        border:solid 1px $red;
        transition: .5s;
    }
}
.titulo-pag{
    @include titulos(4rem,$claro,3rem,600);
    @include medium{
        padding: 1rem;
        font-size: 2.8rem;
    }
}
.center{
    align-items:center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}
.grid{
    @include grid-reg(250px,1fr);
}
.grid-pistas{
    @include grid-reg(300px,1fr);
}