@import "_vars";
@import "_mixins";
@import "_generales";
.titulo-index{
    display: block;
    margin-top: 7rem;
    .titulo-pag-index{
        @extend .titulo-pag;
        margin-bottom: 0;
    }
}
.prox-premio{
    padding: 3rem;
    h2{
        @include titulos(3rem,$claro,1rem,600);
    }
}
.ult-premio{
    h2{
        @include titulos(3rem,$claro,1rem,600);
    }
    .img-u-premio{
        width: 75%;
        
    }
    .tabla{
        margin: 3rem 0;
        width: 75%;
        table{
            width: 100%;
            color: $claro;
            font-size: 2rem;
            
            tr{
                text-align: center;
                background-color: $gris;
                border: 1px solid $red;
                td{
                    border: 1px solid $red;
                }
            }
            @include small{
                width: auto;
                font-size: 1.6rem;
            }
        }
        @include small{
            width: auto;
        }
    }
}
.video-resumen {
    iframe{
    width:80rem; 
    height:45.5rem;
    padding-top: 1.5rem;
    @include medium{
        width:45rem; 
        height:20.5rem;
        padding-top: 1rem;
    }
    @include small{
        width:31rem; 
        height:18rem;
        padding-top: 1rem;
    }
    }
}
.figure-caption{
    font-size: 2rem;
    color: $claro;
}

.streaming{
    padding: 5rem;
    h2{
        @include titulos(3rem,$claro,1rem,600);
        @include medium{
            font-size: 2rem;
        }
    }
}


.redes{
    @include flex(space-evenly,center,wrap-reverse);
    .star-p{
        height: 15rem;
        @include large{
            height: 10rem;
        }
        @include small{
            height: 9rem;
            margin: 2rem;
        }
    }
    .f1tv{
        @include large{
            height: 4rem;
            width: 24rem;
        }
        @include small{
            height: 3rem;
            width: 20rem;
            margin: 2rem;
        }
    }
}
