@import "_vars";
@import "_mixins";

.navbar{
    background-color: $gris;
    color: $claro;
    text-transform: uppercase;
    .nav-link{
        font-family: $fuenteGeneral;
        font-size: 2rem;
        color: $claro;
        
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1px;
        transition: background-size 0.5s;
        &:hover{
            color: $red;
            background-size: 100% 1px;
        }
        &:focus{
            color: $red;
        }
    }
    .navbar-collapse{
        justify-content: end;
    }
    .navbar-brand{
        img{
            height: 6rem;
        }
    }
    .container-fluid{
        button{
            color: $red;
        }
    }
}
.navUp{
        position: fixed;
        width: 100%;
        top:0; 
        left: 0;
        z-index: 50;
}


footer{
    .iconos-redes{
        @include flex(space-between,center,nowrap);
        svg{
            color: $claro;
            height: 3.5rem;
            margin-right: 2rem;
            &:hover{
                color: $red;
                transition: .5s;
            }
            @include medium{
                height: 2rem;
                margin-right: 1rem;
            }
        }
    }
}